// SITE COLORS USED
$teal:#00a2a9;
$light-teal: #9FCDD3;
$orange: #f79433;
$dark-orange: #ea7c16;
$yellow: #ffd31c;
$gray: #575757;
$dark-gray: #262324;
$light-gray: #EBEBEB;
$lighter-gray: #c4c4c4;
$white: #ffffff;

.c-teal{
    color: $teal !important;
}
.c-orange{
    color: $orange !important;;
}
.c-dark-orange{
    color: $dark-orange !important;;
}
.c-gray{
    color: $gray !important;;
}
.c-dark-gray{
    color: $dark-gray !important;;
}
.c-light-gray{
    color: $light-gray !important;;
}
.c-white{
    color: $white !important;;
}
.c-yellow{
    color: $yellow !important;;
}

