@import 'colors';
@import 'bootstrap';
@import 'mixins';


.about-invua {
    overflow: hidden;
    padding: 20px;

    @include media-breakpoint-up(md) {
        padding: 60px 20px;
    }
    @include media-breakpoint-up(sm) {
        padding: 20px 20px;
    }
  
    background-color: $orange;
    background-image: url("../images/dots-orange-fade-up.png");
    background-repeat: repeat-x;
    background-position: bottom left;
    background-size: 15px;
    color: $white;

    &__heading {
        text-align: center;
    }

    &__headline-wrapper{
        @include m-column(12);

        @include media-breakpoint-up(lg) {
            @include m-column(5);
        }
    }

    &__content-wrapper {
        @include m-column(12);
        text-align: center;
        color: $white;
        margin-bottom: 40px;
        @include media-breakpoint-up(lg) {
            @include m-column(8,2);
            padding-top: 60px;
        }

        // @include media-breakpoint-up(sm) {
        //     margin-bottom: 40px;
        // }
      }


      &__text-panel-wrapper {
        @include m-column(12);

        @include media-breakpoint-up(lg) {
            @include m-column(10,1);
            padding: 0px 0px 60px 0px;
        }
        @include media-breakpoint-up(md) {
            @include m-column(10,1);
        }

      }


    &__text-wrapper {
        @include m-column(12);
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-right: 0 !important;
        padding: 40px 60px 60px;
        background-color: $white;
        border-radius: 3px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 2px 8px 0px rgba(87,87,87,.5);
        -moz-box-shadow: 0px 2px 8px 0px rgba(87,87,87,.5);
        box-shadow: 0px 2px 8px 0px rgba(87,87,87,.5);       

        @include media-breakpoint-up(sm) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            margin-right: 0 !important;
            @include m-column(12);
    
            &--right{
                @include m-column(12)
            }

        }
    
        @include media-breakpoint-up(md) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            margin-right: 0 !important;
            @include m-column(12);
    
            &--right{
                @include m-column(6)
            }
        }

        @include media-breakpoint-up(lg) {
            @include m-column(6);
            flex: 0 0 44% !important;
            max-width: 44% !important;
            margin-right: 12% !important;
            &--right{
                @include m-column(6)
            }
        }
    
        text-align: center;
        color: $gray;
    
        &__header{
            font-size: 2rem;
            text-align: center;
        }
        &__statement{
            text-align: center;
        }

        &:last-of-type{
            margin-right: 0 !important;
        }
    
      }

    
}


.our-values {
    overflow: hidden;
    padding: 20px;

    @include media-breakpoint-up(md) {
        padding: 60px 20px;
    }
    @include media-breakpoint-up(sm) {
        padding: 20px 20px;
    }
  
    background-color: $teal;
    background-image: url("../images/dots-green-fade-up.png");
    background-repeat: repeat-x;
    background-position: bottom left;
    background-size: 15px;
    color: $white;

    &__heading {
        text-align: center;
    }

    &__headline-wrapper{
        @include m-column(12);

        @include media-breakpoint-up(lg) {
            @include m-column(5);
        }
    }

    &__content-wrapper {
        @include m-column(12);
        text-align: center;
        color: $white;
        margin-bottom: 40px;
    
        @include media-breakpoint-up(lg) {
            @include m-column(8,2);
            padding-top: 60px;
        }
      }


      &__text-panel-wrapper {
        @include m-column(12);
        @include media-breakpoint-up(lg) {
            @include m-column(12);
            padding: 0px 0px 60px 0px;
        }
        @include media-breakpoint-up(md) {
            @include m-column(12);
        }

      }


    &__text-wrapper {
        @include m-column(12);
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-right: 0 !important;
        padding: 20px 40px 40px;
        background-color: $white;
        border-radius: 3px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 2px 8px 0px rgba(87,87,87,.5);
        -moz-box-shadow: 0px 2px 8px 0px rgba(87,87,87,.5);
        box-shadow: 0px 2px 8px 0px rgba(87,87,87,.5);

        @include media-breakpoint-up(sm) {

            @include m-column(12);
            flex: 0 0 100% !important;
            max-width: 100% !important;
            margin-right: 0 !important;
            padding: 20px 40px 40px;
            &--right{
                @include m-column(12)
            }

        }
    
        @include media-breakpoint-up(md) {
            flex: 0 0 32% !important;
            max-width: 32% !important;
            margin-right: 2% !important;
            padding: 20px 40px 40px;
            &--right{
                @include m-column(4)
            }
        }

        @include media-breakpoint-up(lg) {
            flex: 0 0 32% !important;
            max-width: 32% !important;
            margin-right: 2% !important;
            padding: 40px 60px 60px;
            &--right{
                @include m-column(4)
            }
        }
    
        text-align: center;
        color: $gray;
    
        &__header{
            font-size: 2rem;
            text-align: center;
        }
        &__statement{
            text-align: center !important;
        }
        &:last-of-type{
            margin-right: 0 !important;
        }
    
      }

    
}



































