@import 'colors';
@import 'bootstrap';
@import 'mixins';

.register-landing {
  overflow: hidden;
  background-color: $teal;

  &__content-wrapper{
    @include m-column(12);

    padding: 20px;

    @include media-breakpoint-up(lg) {
      padding: 60px 0px 0px;
    }

    color: $white;

    &__statement{
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }
}